@CHARSET "UTF-8";

#headerWrap {
    width: 100%;
    height: 90px;
    position: relative;
    border-bottom: 1px solid #eee;
}

#header {
    width: 87%;
    height: 62px;
    margin: auto;
    position: relative;
}

#header h1.hd-logo {
    position: absolute;
    left: 5px;
    top: -26px;
}

#hd-logo-svg {
}

#hd-search {
    position: absolute;
    right: 240px;
    left: 140px;
    top: 29px;
}

#hd-search:focus {
	box-shadow: none;
}

#hd-icon-search {
	z-index: 2;
	position: absolute;
	left: 12px;
	top: 10px;
	color:#ccc;
}

.hd-searchBox {
	box-shadow: none;
	z-index:1;
    padding-left: 42px;
    padding-bottom: 5px;
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 10px;
    padding-top: 5px;
    background: #eee;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    transition-duration: 0.5s;
    transition-property: background-color;
}

.hd-searchBox:focus {
	box-shadow: none;
    background: #fff;
    border: 1px solid #ccc;
}

#hd-nav {
    float: right;
    margin-right: 20px;
    margin-top: 32px;
}

#hd-gnb>li {
    display: block;
    float: left;
    text-align: center;
    margin-left: 12px;
    border-radius: 5px;
    cursor: pointer;
}

#hd-gnb>li>a {
    padding: 2px 1px;
    border-bottom: 3px solid #eee;
    text-align: right;
    font-weight: 500;
    display: block;
    font-size: 12px;
    color: #333;
    
    /* sweep-to-left
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;
    margin: 0px; */
}

#hd-gnb>li>a:hover,
#hd-gnb>li>a:focus {
	text-decoration: none;
	border-bottom: 2px solid #56eda8;
	color: #56eda8;
}


/* sweep-to-left:before
#hd-gnb>li>a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #56eda8;
    transform: scaleX(0);
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

#hd-gnb>li>a:hover:before {
    transform: scaleX(1);
} */

#hd-gnb>li:last-child>a {
    margin-right: 0px;
}

#hd-gnb>li>ul {
	z-index: 200;
    position: absolute;
    top: 120px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #999;
}

#hd-gnb>li>ul.hd-gnb-sub>li>a {
    display: block;
    font-size: 12px;
}

/* upload detail css */
#hd-gnb li:first-child .hd-gnb-sub {
    width: 150px;
    height: 50px;
    text-align: center;
}

#hd-gnb li:first-child .hd-gnb-sub li a {
    font-size: 12px;
    line-height: 30px;
    margin: 10px;
    border-radius: 10px;
}
#hd-gnb li:first-child .hd-gnb-sub li:hover a {
    background: #eee;
}

/* message detail css*/
#hd-gnb li:nth-child(2) .hd-gnb-sub {
    width: 220px;
    height: 300px;
    text-align: center;
}
.hd-msg-tab {
    display: inline-block;
    width:96%;
    background: #eee;
    border-radius: 10px;
    margin-top:5px
}
.hd-msg-tab>span{
    display: inline-block;
    width: 47%;
    border-radius: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.hd-tab-msg {
    margin-left:4px;
    background: #fff;
}

.hd-tab-bot {
    margin-right: 4px;
}

.hd-msg-tab a{
    font-size: 11px;
    line-height: 30px;
    font-weight: 500;
}

.hd-msg-txt {
    display: block;
    width: 100%; 
    margin-top:5px;
    font-size: 11px;
    line-height: 20px;
    color:#999;
    text-shadow: 1px 1px #fff;
    background: #eee;
}

.firstMsgList {
    clear: both;
    padding: 0px;
    margin-bottom: 10px;
}

.hd-msgList {
    border-bottom: 1px solid #eee;
    margin: auto;
    height: 60px;
    text-align: left;
    padding: 10px 5px 5px 5px;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    overflow: hidden;
    transition-duration: 0.3s;
    transition-property: background-color;
}

.hd-msgList:hover {
    background-color: #eee;
}

.msgUserPic {
    width: 40px;
    height: 40px;
    background: #eee;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.msgUserId {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 13px;
    font-family: "nanumB";
    display: block;
    text-align: left;
}

.userMsg {
    font-size: 12px;
    color: #aaa;
}

/* my account detail css */
#hd-gnb li:LAST-CHILD {
	border-radius: 0px;
	border-left: 1px solid #eee;
	padding-left: 10px;
}

img.hd-my-img {
	width: 26px;
	border-radius: 50%;
	margin: 3px;
}

span.hd-my-nick {
	display: inline-block;
	margin-top: 10px;
	margin-left: 2px;
	font-weight: 500;
}

/* 
#hd-gnb li:last-child .hd-gnb-sub {
    width: 200px;
    text-align: center;
}
.hd-sub-account-bar {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-shadow: 1px 1px #fff;
    padding: 0px 10px;
    border-bottom: 1px solid #ddd;
    background: #eee;
}

.hd-sub-account-bar span {
}

.hd-account-bar-id {
    float: left;
    font-size: 11px;
    font-weight: 500;
}

.hd-account-bar-logout {
    float: right;
    font-size: 11px;
    color: #777;
}

.hd-sub-account {
    margin-top: 9px; 
    height: 36px;
}
.hd-account {
    display: block;
    width:100%;
    height: 52px;
    border-bottom: 1px solid #eee;
}
.hd-my-img {
    float: left;
    margin-left: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px solid #eee;
    overflow: hidden;
}
.hd-my-nick, .hd-my-email {
    float: left;
    margin-left: 21px;
}
.hd-my-nick {
    font-size: 14px;
    line-height: 25px;
}
.hd-my-email {
    color: #bbb;
}
.hd-sub-account-list {
    margin-top: 30px;
    text-align: center;
}
.hd-sub-account-list ul li {
    margin: 2px 5px 2px 5px;
    font-size: 12px;
    line-height: 30px;
    border-radius: 10px;
}
.hd-sub-account-list ul li:first-child {
}
.hd-sub-account-list ul li:hover {
    background: #eee;
}
.hd-sub-account-list {
    margin-bottom: 12px;
}
.hd-account-list-wdr  {
    margin-top: 10px;
}
.hd-account-list-info {
}
 */

/* Sub Menu Position control */
#hd-gnb li:first-child ul.hd-gnb-sub {
    right: 130px;
}

#hd-gnb li:nth-child(2) ul.hd-gnb-sub {
    right: 24px;
}

#hd-gnb li:last-child ul.hd-gnb-sub {
    right: 30px;
}
/* ========================================= */



